<p>
  <%= @event.name %> at <%= @event.location %> on <%= @event.date %>
</p>
<% if user_signed_in? && current_user == @event.creator %>
<p>
  <%= link_to 'Edit', edit_event_path(@event) %>
</p>
<% end %>
