<div class="event-card">
  <%= link_to event_path(event) do %>
    <div class="event-card-header">
      <%= event.name %> 
    </div>

    <div class="event-card-date">
      <%= event.date %>
    </div>

    <div class="event-card-location">
      <%= event.location %>
    </div>

    <div class="event-card-description">
      Lorem ipsum descriptio placeholderio ipsum somethingio.
    </div>
  <% end %>
</div>
