<h4 class="stackable-sm">Event Management</h4>
<%= link_to 'Edit', edit_event_path(event), class: 'button-sm bordered' if event.upcoming? %> 
<%= link_to 'Delete', event_path(event), method: :delete, data: { confirm: "Are you sure?" }, class: 'button-sm bordered' %>