  <% if event.creator == current_user %>
  Invitations:
    <% event.invitations.includes(:user).each do |invitation| %>
      <p>
        <%= invitation.user.email %> 
        <%= link_to 'Cancel', event_attendance_path(invitation), method: :delete, data: { confirm: "Really remove this invitation?" } %>
      </p>
    <% end %>
  <% end %>