<h1 class="stackable-md">Public Events</h1>

<%= link_to new_event_path do %>
  <%= button_tag 'Create New Event', type: 'button', class: 'stackable-md' %>
<% end %>

<%= render partial: 'event_card_list', locals: { title: 'Upcoming Events', events: @events.future.public_visible } %>
<%= render partial: 'event_card_list', locals: { title: 'Past Events', events: @events.past.public_visible } %>

