/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 :root {
  --primary-dark-color: darkblue;
  --secondary-dark-color: rgb(0, 88, 170);
  --primary-light-color: whitesmoke;
  --secondary-light-color: rgb(202, 199, 199);
  --accent-color: rgb(37, 149, 253);
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Helvetica', sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: var(--secondary-light-color);
}

main {
  padding: 12px 24px;
  flex-grow: 1;
}

footer {
  padding: 12px 24px;
}

nav {
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-dark-color);
  color: var(--primary-light-color);;
}

nav a {
  color: var(--primary-light-color);
  text-decoration: none;
}

nav .logo {
  font-size: 24px;
  font-weight: bold;
}

nav .left {
  display: flex;
  align-items: center;
  gap: 12px;
  list-style: none;
}

nav .right {
  display: flex;
  align-items: center;
  gap: 12px;
  list-style: none;
}

.flash-message {
  padding: 12px;
  text-align: center;
  color: var(--primary-light-color);
  font-weight: bold;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

.notice {
  background-color: green;
}

.alert {
  background-color: red;
}

.bordered {
  border: 2px solid var(--primary-dark-color);;
  border-radius: 5px;
}

.padded-md {
  padding: 8px;
}

.padded-sm {
  padding: 4px;
}

button,
input[type=submit] {
  font-size: 16px;
  padding: 8px 10px;
  background-color: var(--primary-light-color);
}

.button-sm,
input[type=submit].button-sm {
  font-size: 14px;
  padding: 4px 8px;
  background-color: var(--primary-light-color);
}

.button-xsm,
input[type=submit].button-xsm {
  font-size: 12px;
  padding: 2px 4px;
  background-color: var(--primary-light-color);
}

label {
  font-size: 20px;
  width: 100px;
  text-align: right;
}

input {
  font-size: 18px;
}

form {
  max-width: 250px;
}

textarea {
  resize: none;
  font-size: 16px;
}

li {
  list-style: none;
}

hr {
  border: 2px solid var(--primary-dark-color);
}