// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.event-index-container {
  justify-self: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border: 2px solid purple;
}

.event-card {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}