// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.event-card-container {
  justify-self: center;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.event-card {
  display: flex;
  flex-direction: column;
  max-width: 275px;
  min-width: 100px;
  border-radius: 5px;
}

.event-card,
.event-card-sm {
  background-color: var(--primary-light-color);
}

.event-card-primary-field {
  color: var(--primary-dark-color);
  font-weight: bold;
  font-size: 18px;
  padding: 4px 8px;
}

.event-card-secondary-field {
  padding: 4px 8px;
}

form.event-form {
  max-width: 350px;
}

.event-card-header {
  padding: 8px;
  background-color: var(--primary-dark-color);
  color: var(--primary-light-color);
  font-weight: bold;
  font-size: 20px;
}