.row-container {
  display: flex;
  margin-bottom: 12px;
}

.col-container {
  display: flex;
  flex-direction: column;
}

.col-container-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered {
  display: flex;
  justify-content: center;
}